<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
                   initial-scale=1.0,
                   maximum-scale=1.0,
                   user-scalable=no">

  <title>Member Details</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/member_details.css')}}">
</head>

<body>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="toast-container">

      {% for category,message in messages %}
      <div class="toast {{ category }}">
        {{ message }}
      </div>
      {% endfor %}

    </div>
    {% endif %}
    {% endwith %}
    <!-- ==========================
         HEADER
    =========================== -->

    <div class="sticky-top">

      <header class="page-header">

        <a href="{{url_for('members')}}" class="back-btn">←</a>
        <a href="{{ url_for('payment', member_id=member.id) }}" class="payment-btn">
        💳 New Payment
        </a>
      </header>

    </div>

    <form method="POST">
      
      <!-- ==========================
             CURRENT PAYMENT
        =========================== -->
      <section class="membership-card">
        <div class="member-title">

        <h1>{{member.name}}</h1>

        </div>
        <br>
        <div class="card-header">
          
          <h2>Membership Information</h2>

          {% if member.membership_expiry >= today %}
          <span class="status active">Active</span>
          {% else %}
          <span class="status expired">Expired</span>
          {% endif %}
        </div>

        <div class="membership-grid">

          <div class="item">
            <span class="label">Current Plan</span>
            <span class="value">{{ member.current_plan }}</span>
          </div>

          <div class="item">
            <span class="label">Membership Fee</span>
            <span class="value">₹{{ member.latest_payment.fee }}</span>
          </div>

          <div class="item">
            <span class="label">Amount Paid</span>
            <span class="value">₹{{ member.latest_payment.amount_paid }}</span>
          </div>

          <div class="item">
            <span class="label">Pending</span>
            <span class="value">
              ₹{{ member.latest_payment.fee - member.latest_payment.amount_paid }}
            </span>
          </div>

          <div class="item">
            <span class="label">Started</span>
            <span class="value">
              {{ member.membership_start.strftime("%d %b %Y") }}
            </span>
          </div>

          <div class="item">
            <span class="label">Expires</span>
            <span class="value">
              {{ member.membership_expiry.strftime("%d %b %Y") }}
            </span>
          </div>

          <div class="item">
            <span class="label">Days Remaining</span>

            {% if member.membership_expiry >= today %}
            <span class="value green">
              {{ (member.membership_expiry - today).days }}
              day{{ '' if (member.membership_expiry - today).days == 1 else 's' }}
            </span>
            {% else %}
            <span class="value red">
              Expired
            </span>
            {% endif %}

          </div>

          <div class="item">
            <span class="label">Payment Status</span>

            {% if member.latest_payment.amount_paid >= member.latest_payment.fee %}
            <span class="value green">Paid</span>

            {% elif member.latest_payment.amount_paid == 0 %}
            <span class="value red">Unpaid</span>

            {% else %}
            <span class="value orange">Partial</span>
            {% endif %}

          </div>

        </div>

      </section>

      <!-- -=======================
           Personal details 
      ===========================!-->
      <section class="card">

        <div class="section-title">
          <h2>Member Details</h2>

          <a href="/members/{{member.id}}/edit" class="secondary-btn">
            Edit
          </a>
        </div>

        <div class="details-grid">

          <div class="detail">
            <span>Name</span>
            <strong>{{ member.name }}</strong>
          </div>

          <div class="detail">
            <span>Phone</span>
            <strong>{{ member.phone }}</strong>
          </div>

          <div class="detail full-width">
            <span>Address</span>
            <strong>{{ member.address }}</strong>
          </div>

          <div class="detail full-width">
            <span>Notes</span>
            <strong>{{ member.notes }}</strong>
          </div>


        </div>

      </section>
      <section class="stats-section">

        <h2>Quick Statistics</h2>

        <div class="stats-grid">

          <div class="stat-card">
            <span class="stat-title">Total Payments</span>
            <span class="stat-value">
              ₹{{ total_paid }}
            </span>
          </div>

          <div class="stat-card">
            <span class="stat-title">Payments Made</span>
            <span class="stat-value">
              {{ payments|length }}
            </span>
          </div>

          <div class="stat-card">
            <span class="stat-title">Member Since</span>
            <span class="stat-value">
              {{ member.join_date.strftime("%b %Y") }}
            </span>
          </div>

          <div class="stat-card">
            <span class="stat-title">Membership Age</span>
            <span class="stat-value">
              {{membership_months}} Months
            </span>
          </div>

          <div class="stat-card">
            <span class="stat-title">Attendance</span>
            <span class="stat-value">
              {{attendance_this_month}}
            </span>
            <span class="stat-small">This Month</span>
          </div>

          <div class="stat-card">
            <span class="stat-title">Last Visit</span>
            <span class="stat-value">
              {{last_visit}}
            </span>
          </div>

        </div>

      </section>


      <!-- ==========================
     PAYMENT HISTORY
=========================== -->

      <br>

      {% if payments %}

      {% for payment in payments %}

      <div class="payment-item">

        <div>

          <strong>{{ payment.plan_name }}</strong><br>

          <small>
            {{ payment.payment_date.strftime("%d %b %Y") }}
            • ₹{{ payment.amount_paid }}

            {% if payment.status == "Paid" %}
            • Paid
            {% elif payment.status == "Partial" %}
            • Partial
            {% elif payment.status == "Pending" %}
            • Pending
            {% else %}
            • {{ payment.status }}
            {% endif %}

          </small>

        </div>

        <a href="{{ url_for('edit_payment', payment_id=payment.id) }}" class="secondary-btn">
          Edit
        </a>

      </div>

      {% endfor %}

      {% else %}

      <p>No payment history.</p>

      {% endif %}



      <!-- ==========================
             ATTENDANCE
        =========================== -->

      <section class="card">

        <div class="section-title">

          <h2>Attendance</h2>

          <div class="calendar-controls">

            <button type="button">
              ◀
            </button>

            <span>August 2026</span>

            <button type="button">
              ▶
            </button>

          </div>

        </div>

        <div class="attendance-calendar">

          <!-- JS can generate this -->

        </div>

      </section>




      <!-- ==========================
             SAVE
        =========================== -->

      <section class="save-section">

        <button type="submit" class="save-btn">

          Save Changes

        </button>

      </section>



    </form>




  </div>

  <script>
    document.querySelectorAll(".toast").forEach((toast) => {

        setTimeout(() => {

            toast.classList.add("hide");

            setTimeout(() => {
                toast.remove();
            }, 300);

        }, 3500);
      

    });
  // =========================================
// ATTENDANCE CALENDAR
// =========================================
if (localStorage.getItem("theme") === "light") {
  document.body.classList.add("light")
}
    
  
const calendar = document.querySelector(".attendance-calendar");

const monthLabel =
    document.querySelector(".calendar-controls span");

const prevBtn =
    document.querySelector(".calendar-controls button:first-child");

const nextBtn =
    document.querySelector(".calendar-controls button:last-child");

let currentDate = new Date();

drawCalendar(currentDate);

prevBtn.addEventListener("click", () => {

    currentDate.setMonth(currentDate.getMonth() - 1);

    drawCalendar(currentDate);

});

nextBtn.addEventListener("click", () => {

    currentDate.setMonth(currentDate.getMonth() + 1);

    drawCalendar(currentDate);

});

function drawCalendar(date){

    calendar.innerHTML = "";

    const monthNames = [
        "January","February","March","April",
        "May","June","July","August",
        "September","October","November","December"
    ];

    monthLabel.textContent =
        `${monthNames[date.getMonth()]} ${date.getFullYear()}`;

    const days = ["Mo","Tu","We","Th","Fr","Sa","Su"];

    const grid = document.createElement("div");
    grid.className = "calendar-grid";

    // Weekday headers

    days.forEach(day=>{

        const head = document.createElement("div");
        head.className = "calendar-header";
        head.textContent = day;

        grid.appendChild(head);

    });

    const firstDay =
        new Date(date.getFullYear(),date.getMonth(),1);

    let offset = firstDay.getDay();

    offset = offset === 0 ? 6 : offset - 1;

    for(let i=0;i<offset;i++){

        const blank = document.createElement("div");
        blank.className = "calendar-empty";

        grid.appendChild(blank);

    }

    const totalDays =
        new Date(
            date.getFullYear(),
            date.getMonth()+1,
            0
        ).getDate();

    for(let d = 1; d <= totalDays; d++){

    const day = document.createElement("button");

    day.type = "button";
    day.className = "calendar-day";
    day.textContent = d;

    day.addEventListener("click", (e) => {

        e.preventDefault();
        e.stopPropagation();

        day.classList.toggle("present");

    });

    grid.appendChild(day);   // ← Missing line

}

calendar.appendChild(grid);

        }

    document.querySelectorAll(".stat-value").forEach(el => {

    const text = el.textContent.trim();

    if (!text.match(/^\₹?\d+/))
        return;

    const number = parseInt(text.replace(/[^\d]/g, ""));
    const prefix = text.startsWith("₹") ? "₹" : "";

    let current = 0;
    const speed = Math.max(1, Math.ceil(number / 40));

    const timer = setInterval(() => {

        current += speed;

        if (current >= number) {
            current = number;
            clearInterval(timer);
        }

        el.textContent = prefix + current;

    }, 15);

});

  
</script>

</body>

</html>