{% extends "components/base.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/members.css') }}">
{% endblock %}
{% block title %}Members{% endblock %}


{% block body %}
    <!-- =====================================
         HEADER
    ====================================== -->
    <div class="header">

      <h1>Members</h1>
      <input id="search" type="text" placeholder="🔍 Search member...">
    </div>

    {% for member in members %}
    <a href="{{ url_for('members.member_details', member_id=member.id) }}" class="member {% if not member.membership_active %}inactive{% elif member.is_trial %}trial{% endif %}">
      <div class="member-info">
        <div class="name">{{member.name}}</div>
        <div class="address">
          {{member.address[:25]}}...
        </div>
      </div>
      <div class="phone">
        {{member.phone}}
      </div>

    </a>
    {% endfor %}




   {% endblock %}

    {% block script %}
      if (localStorage.getItem("theme") === "light") {
        document.body.classList.add("light")
      }

      const search = document.getElementById("search");
      search.addEventListener("input", () => {
    
        const q = search.value.trim().toLowerCase();
    
        document.querySelectorAll(".member").forEach(card => {
    
            const name = card.querySelector(".name").textContent.toLowerCase();
            const phone = card.querySelector(".phone").textContent;
            const address = card.querySelector(".address").textContent.toLowerCase();
    
            const match =
                name.includes(q) ||
                phone.includes(q) ||
                address.includes(q);
    
            card.style.display = match ? "flex" : "none";
        });
    
    });
{% endblock %}