{% extends "components/base.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block title %}Settings{% endblock %}


{% block body %}
   

      <!-- =====================================
         HEADER
    ====================================== -->

      <header class="header">
        <h1>Settings</h1>
        <button id="themeBtn" onclick="toggleTheme()">🌙</button>
      </header>
{% endblock %}
      
    {% block script %}
        const btn = document.getElementById("themeBtn");

      

      btn.onclick = function () {
        document.body.classList.toggle("light");

        if (document.body.classList.contains("light")) {
          localStorage.setItem("theme", "light");
          btn.innerHTML = "☀️";
        } else {
          localStorage.setItem("theme", "dark");
          btn.innerHTML = "🌙";
        }
      };
    {% endblock %}
